{% extends "base.html" %}
{% load static %}
{% load cart_tag %}
{% block content %}

<!-- page-banner-area-start -->
<div class="page-banner-area page-banner-height-2" data-background="{% static 'img/banner/page-banner-4.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-banner-content text-center">
                    <h4 class="breadcrumb-title">Your Cart</h4>
                    <div class="breadcrumb-two">
                        <nav>
                           <nav class="breadcrumb-trail breadcrumbs">
                              <ul class="breadcrumb-menu">
                                 <li class="breadcrumb-trail">
                                    <a href="{% url 'home' %}"><span>Home</span></a>
                                 </li>
                                 <li class="trail-item">
                                    <span>Cart</span>
                                 </li>
                              </ul>
                           </nav> 
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-banner-area-end -->

<!-- cart-area-start -->
<section class="cart-area pt-120 pb-120">
    <div class="container">
       <div class="row">
          <div class="col-12">
                <form action="#">
                   <div class="table-content table-responsive">
                      <table class="table">
                            <thead>
                               <tr>
                                  <th class="product-thumbnail">Images</th>
                                  <th class="cart-product-name">Product</th>
                                  <th class="product-price">Unit Price</th>
                                  <th class="product-quantity">Quantity</th>
                                  <th class="product-subtotal">Total</th>
                                  <th class="product-remove">Remove</th>
                               </tr>
                            </thead>
                            <tbody>
                                {% for key,value in request.session.cart.items %}
                               <tr id="id{{value.id}}">
                                  <td class="product-thumbnail"><a href="shop-details.html"><img src="{{value.image}}" alt=""></a></td>
                                  <td class="product-name"><a href="shop-details.html">{{value.product_name}}</a></td>
                                  <td class="product-price"><span class="amount">Rs. {{value.price}} </span></td>
                                  <td class="product-quantity w-25">

                                    <div class="row">
                                        <div class="col-4">
                                            <a href="{% url 'item_decrement' value.product_id %}#id{{value.id}}" class="text-center">-</a>
                                        </div>
                                        <div class="col-4">
                                            <input type="text" value="{{value.quantity}}" class="form-control border-0 text-center">
                                        </div>
                                        <div class="col-4">
                                            <a href="{% url 'item_increment' value.product_id %}" class="text-center">+</a>
                                        </div>
                                    </div>

                                  </td>
                                  <td class="product-subtotal"><span class="amount">Rs. {{ value.price|multiply:value.quantity }}</span></td>
                                  <td class="product-remove"><a href="{% url 'item_clear' key %}"><i class="fa fa-times"></i></a></td>
                               </tr>
                               {% endfor %}
                            </tbody>
                      </table>
                   </div>
                   <div class="row">
                      <div class="col-12">
                            <div class="coupon-all">
                               <div class="coupon">
                                  <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                  <button class="tp-btn-h1" name="apply_coupon" type="submit">Apply coupon</button>
                               </div>
                               <div class="coupon2">
                                  <a class="tp-btn-h1" name="update_cart" type="submit" href="{% url 'cart_clear' %}">CLear cart</a>
                               </div>
                            </div>
                      </div>
                   </div>
                   <div class="row justify-content-end">
                      <div class="col-md-5">
                            <div class="cart-page-total">
                               <h2>Cart totals</h2>
                               <ul class="mb-20">
                                  <li>Items Total <span>Rs. {{cart_total_amount}}</span></li>

                                  {% if cart_total_amount > 5000 %}
                                  <li class="text-success">Delivery Charges <span class="text-success">Free</span></li>
                                  <li class="text-success">Total <span class="text-success">Rs. {{cart_total_amount}}</span></li>
                                  {% else %}
                                  <li class="text-success">Delivery Charges <span class="text-success">Rs. 150</span></li>
                                  <li class="text-success">Total <span class="text-success">Rs. {{cart_total_amount|add:150}}</span></li>
                                  {% endif %}

                               </ul>
                               <a class="tp-btn-h1" href="{% url 'checkout' %}">Proceed to checkout</a>
                            </div>
                      </div>
                   </div>
                </form>
          </div>
       </div>
    </div>
 </section>
 <!-- cart-area-end -->

{% include "promotion.html" %}
{% endblock content %}