{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- account-area-start -->
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-12 text-center">
            <h3>Password Changed Successfully !!</h3>
            <div><iframe src="https://giphy.com/embed/MelhioWPAo6k4Q6BTp" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
    </div>
</div>
<br>
<!-- account-area-end -->
{% include "promotion.html" %}
{% endblock content %}
