{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- page-banner-area-start -->
<div class="page-banner-area page-banner-height-2" data-background="{% static 'img/banner/page-banner-4.jpg' %}">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="page-banner-content text-center">
                  <h4 class="breadcrumb-title">My Profile</h4>
                  <div class="breadcrumb-two">
                      <nav>
                          <nav class="breadcrumb-trail breadcrumbs">
                              <ul class="breadcrumb-menu">
                                  <li class="breadcrumb-trail">
                                  <a href="{% url 'home' %}"><span>Home</span></a>
                                  </li>
                                  <li class="trail-item">
                                  <span>Profile</span>
                                  </li>
                              </ul>
                          </nav> 
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- page-banner-area-end -->

<!-- account-area-start -->
<div class="account-area mt-70 mb-70">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mx-auto">
              <div class="basic-login mb-50">
                <h3 class="display-4 mb-4 text-center">Welcome {{request.user | capfirst}}</h3>
                <h4 class="display-4 mb-4 text-center">Update Your Profile</h4>
                <hr>
                <form action="" method="post" novalidate class="shadow p-5">
                  {% csrf_token %}
                  {% for f in form %}
                   <div class="form-group">
                      {{f.label_tag}}<br>{{f}}<small class="text-danger">{{f.errors | striptags}}</small>
                   </div>
                  {% endfor %}
                  <br>
                  <br>
                  <div class="col-12 mt-3 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                  <p class="alert alert-danger my-3">{{error}}</p>
                  {% endfor %}
                {% endif %}
              </div>
          </div>
      </div>
  </div>
</div>
<!-- account-area-end -->
{% endblock content %}